<div class="jumbotron">
  <h1><i class="fa fa-paw"></i> 欢迎光临！</h1>
  <p>Stukdo是一个在线的任务管理器，帮助您安排手头上的工作，让您的生活更加方便舒适！</p>
  <p><%= link_to "免费使用!", new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
</div>
