<% require 'devise/version' %>
<p><%= t('.greeting', :recipient => @resource.email, :default => "Welcome #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "请点击下面的链接来确认您的email地址，如果您没有在本站注册，那么请忽略本邮件。") %></p>
<p><%= link_to t('.action', :default => "完成账号注册"),
         confirmation_url(@resource, :confirmation_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %></p>